.container {
  background-color: rgb(255, 0, 0);
}
.inputs {
  display: flex;
  flex-direction: column;
}
.buttons{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.bOperators{
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
}
#result {
  background-color:darkcyan;
}
.historial {
  background-color: grey;
}